networkx~=3.0 
numpy
pandas~=1.5.3
scipy~=1.10.0
scikit-learn~=1.2.1
cdt~=0.6.0
matplotlib~=3.6.3
pydot~=1.4.2
seaborn~=0.12.2
statsmodels~=0.13.5
requests~=2.28.2
torch
joblib~=1.2.0
GPUtil~=1.4.0
tqdm~=4.64.1
future~=0.18.3
idna~=3.4
Pillow~=9.4.0
ipython~=8.9.0
typing~=3.7.4.3
pip~=21.1.2
dataclasses~=0.6
attrs~=22.2.0
wheel~=0.36.2
six~=1.16.0
pytest~=7.2.1
packaging~=23.0
ipdb~=0.13.11
decorator~=5.1.1
parso~=0.8.3
jedi~=0.18.2
PuLP~=2.7.0
pytz~=2022.7.1
numba
autograd~=1.5
hyppo~=0.3.2
llvmlite~=0.39.1
Pygments~=2.14.0
setuptools~=57.0.0
pexpect~=4.8.0
Cython~=3.0.2
patsy~=0.5.3
pygam~=0.8.0
causaldag~=0.1a163
urllib3~=1.26.14
python-dateutil~=2.8.2
numexpr~=2.8.4
xlrd~=2.0.1
wcwidth~=0.2.6
pluggy~=1.0.0
iniconfig~=2.0.0
certifi~=2022.12.7
traitlets~=5.9.0
backcall~=0.2.0
pickleshare~=0.7.5
ptyprocess~=0.7.0
cycler~=0.11.0
threadpoolctl~=3.1.0
graphviz~=0.20.1
asttokens~=2.2.1
executing~=1.2.0
fonttools~=4.38.0
pyparsing~=3.0.9
kiwisolver~=1.4.4
einops~=0.6.0
zipp~=3.12.0
more_itertools
importlib_resources
causal-learn